<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Add dish</title>
</head>
<body>
  <h1>agregar plato</h1>
  id <input type="text" id="id"><br>
  nombre plato <input type="text" id="name"><br>
  calorias <input type="number" id="calories"><br>
  es vegetariano <select id="isVegetarian" name="verdaderoFalso">
    <option value="true">Verdadero</option>
    <option value="false">Falso</option>
  </select><br>
  valor <input type="number" id="value"><br>
  comentarios <input type="text" id="comments"></p>

  <button id="btnSend">Enviar Datos</button>
  <a href="/" class="boton">volver a menu</a>

  <script src="/js/script.js"></script>
</body>
</html>