<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Buscar plato</h1>
    <p>digite el id del plato que desea buscar</p>
    id <input type="text" id="idDelete"><br>
    <button id="btnDelete">eliminar plato</button>
    <hr>
    <a href="/" class="boton">volver a menu</a>
    <br>
    <br>
    <table border="1" class="table table-bordered table-striped text-center mt-4">
      <thead>
        <th>Id plato</th>
        <th>Nombre del plato</th>
        <th>calorias</th>
        <th>es vegetariano</th>
        <th>valor $</th>
        <th>comentarios</th>
      </thead>
      <tbody id="tBody">
        <script>
          loadData()
            .then((result) => {
              if( result.state ){
                const tBody = document.getElementById('tBody')

                result.data.forEach( dish => {
                  const row = document.createElement('tr')

                  const colId = document.createElement('td')
                  colId.appendChild(document.createTextNode(dish.idDish))
                  row.append(colId)

                  const colName = document.createElement('td')
                  colName.appendChild( document.createTextNode(dish.name))
                  row.appendChild(colName)

                  const colCalories = document.createElement('td')
                  colCalories.appendChild( document.createTextNode(dish.calories))
                  row.appendChild(colCalories)

                  const colVegetarian = document.createElement('td')
                  colVegetarian.appendChild( document.createTextNode(dish.isVegetarian))
                  row.appendChild(colVegetarian)

                  const colValue = document.createElement('td')
                  colValue.appendChild( document.createTextNode(dish.value))
                  row.appendChild(colValue)
                  
                  const colComments = document.createElement('td')
                  colComments.appendChild( document.createTextNode(dish.comments))
                  row.appendChild(colComments)


                  tBody.appendChild(row)
                })
              }else{
                alert('Ho!! Algo ha salido mal')
              }
            })
            .catch(err=>console.log(err))
        </script>
      </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>          
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  </body>
</html>
